{% extends "socialnetwork/base.html" %}
{% block const-header %}
<div>
    <div id = "id_site_name">Blog Master</div>
    <a href="{% url 'globalstream' %}" id = "id_nav_global_stream" text-align="right">Global</a>
    <a href="{% url 'login' %}" id = "id_nav_logout" text-align="right">Logout</a>
    <a href="{% url 'followerstream' %}" id = "id_nav_follower_stream" text-align="right">Follower</a>
    <a href="{% url 'profile' %}" id = "id_nav_profile" text-align="right">{{user.first_name}} {{user.last_name}}</a>
</div>
{% endblock %}

{% block user-info %}
<div id = "id_page_name">{{id_page_name}}</div>
<div id = "id_first_name">{{id_first_name}}</div>
<div id = "id_last_name">{{id_last_name}}</div>
{% endblock %}

{% block content %}
    <form class = "show-form" method="post" action="{% url 'globalstream' %}">
        <label>New Post:</label>
        <input type = "text" id = "id_post_input_text" name = "id_post_input_text"></input>
        <button id = "id_post_button">Submit</button>
        {% csrf_token %}
    </form>

    <div id = "my-posts-go-here"></div>
    <script>
        var addItemURL = "{% url 'add-comment' %}"
        window.onload = loadPosts;
        window.setInterval(loadPosts, 2500);
    </script>
    <div id="error"></div>
<!--     {% for post in posts %}
     <div id = "id_post_div_{{post.id}}">
        <a href = "{% url 'otherprofile' post.user.id %}"
            id  = "id_post_profile_{{post.id}}">
            Post by {{post.user.first_name}} {{post.user.last_name}}
        </a>
        <b id = "id_post_text_{{post.id}}">{{post.text}}</b>
        <div id = "id_post_date_time_{{post.id}}">{{ post.date_time | date:"n/j/Y g:i A" }}
        </div>
     </div>
     <form class = "show-form" method="post" action="{% url 'globalstream' %}">
        <label>Comment:</label>
        <input type = "text" id = "id_comment_input_text_{{post.id}}" name = "comment"></input>
        <button id = "id_comment_input_button_{{post.id}}">Submit</button>
        {% csrf_token %}
    </form>
     {% endfor %} -->
{% endblock %}