{% extends "socialnetwork/base.html" %}
{% load static %}
{% block const-header %}
<div>
    <div id = "id_site_name">Blog Master</div>
    <a href="{% url 'globalstream' %}" id = "id_nav_global_stream" text-align="right">Global</a>
    <a href="{% url 'login' %}" id = "id_nav_logout" text-align="right">Logout</a>
    <a href="{% url 'profile' %}" id = "id_nav_profile" text-align="right">{{user.first_name}} {{user.last_name}}</a>
    <a href="{% url 'followerstream' %}" id = "id_nav_follower_stream" text-align="right">Follower</a>
</div>
{% endblock %}

{% block user-info %}
<div id = "id_page_name">Profile Page for {{profile.user.first_name}} {{profile.user.last_name}}</div>
{% endblock %}

{% block content %}
<ul class="profileList">
    {% if not profile.picture %}
        <img src = "{% static 'images/sunflower.jpg' %}" alt = "Sunflower" id = "id_user_picture">
    {% else %}
        <img src="{% url 'photo' profile.id %}" id = "id_user_picture" alt="{{profile.bio}}" width="200px">
    {% endif %}
    <ul>
        <form method="post" enctype = "multipart/form-data" id = "user_profile_picture" action="{% url 'profile' %}">
            <table>
                {% for field in form.visible_fields %}
                    <tr>
                        <td>{{field.label_tag}}</td>
                        <td>{{field}}</td>
                        <td class="errorlist">
                            {% for error in field.errors %} {{error}} {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                <tr><td colspan="3"><input type="submit" value="Submit" id="id_update_profile_button"></td></tr>
            </table>
            {% csrf_token %}
        </form>
    </ul>
    <ul>Bio : {{profile.bio}}</ul>
    <div>
        You are following:
        <ul>
            {% for u in profile.following.all %}
            <li>
                <a href = "{% url 'otherprofile' u.id %}" id="id_profile_link_{{u}}">
                    {{u.first_name}} {{u.last_name}}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</ul>
{% endblock %}